body {

    color: #461414;
  }
  
  .jumbotron {
    background-image: url("/Final_Project/Predicting_Wine_Quality/static/images/wineI.png");
    background-size: 100% 100%;
    text-align: center;
  }

